[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = '*'
coverage = '*'

[packages]
numpy = '*'
pymongo = "*"
requests = "*"
flask = "*"
confine-controller = "*"
pandas = "*"
seaborn = "*"
mock = "*"

[requires]
python_version = "3.8"
